h1 {
  color: #FFFFFF;
  text-align: center;
}

#chat-window {
  height: 20rem;
}

#chat-window-messages {
  height: 18rem;
  overflow: auto;
}

.message{
  text-align: left;
  border: 1px solid;
  margin: 10px;
  padding:15px;
  color: #00529B;
  background-color: #BDE5F8;
}

form{
  height: 130px;
  background-color: #BDE5F8;
  border: 1px solid #00529B;
  width: auto;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
label{
  height: 25px;
  color: #00529B;
  margin-left: 10px;
}
input{
  border: 1px solid #00529B;
  border-radius: 5px;
  outline:none;
}
#bnt{
  height: 55px;
}